<div class="col-md-4 mx-3 my-4 mx-auto">
    <div class="card border-0" onclick="agregarQuitar(this.id)" id="{{this}}">
        <img src="/img/{{this}}.png" class="producto card-img-top mx-auto d-block" data-nombre="{{this}}" alt="{{this}}">
        <div class="card-body">
            <h5 class="card-title text-capitalize">{{this}}</h5>
        </div>
    </div>
</div>

<style>
    .producto {
        height: 150px !important;
        width: 150px !important;
        cursor: pointer;
    }

    .seleccionado {
        opacity: 0.3;
        transform: scale(.9);
    }
</style>